<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Search Results </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="search-page">
      <% if @posts.exists? %>
        <h4> Results of your search: </h4>
      <% else %>
        <h4> Oops! No matching Imago ... </h4>
        <hr>
        <img src="https://cdn-images-1.medium.com/max/780/1*8-fgvBPAFgPpbbr-YwD9Xw.jpeg">
        <hr>
      <% end %>
      <div class="posts">
        <% @posts.each do |post| %>
        <section class="post">
          <div class="user">
            <div class="avatar">
              <img src="https://image.ibb.co/hPKoao/penny.jpg">
                <%# <%= current_user.avatar.url %>
            </div>
            <div class="username">
              <h4><%= post.user.username %></h4>
            </div>

          </div>
          <%= image_tag post.image, class: 'main-image' %>
          <div class="description">
            <% post.description.to_s.split(' ').each do |word| %>
              <% if word.start_with?('#') %>
                <%= link_to word, search_path(query: word) %>
              <%else %>
                <%= word %>
              <%end %>
            <% end %>
            <hr>
            Posted at: <%= post.created_at.strftime("%H:%M on %d-%m-%Y") %>

          </div>
          </section>
          <% end %>
        </div>
    </div>
  </body>
</html>
