<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title> Imago My Page </title>
  </head>
  <body>
    <h2> <%= current_user.username %> </h2>
    <br>
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="card testimonial-card">
          <div class="card-up info-color"></div>
          <div class="avatar mx-auto white">
            <%# <%= image_tag current_user.avatar.url %>
            <img src="https://image.ibb.co/hPKoao/penny.jpg" class="rounded-circle img-fluid">

          </div>
          <div class="card-body">
            <h6> Intro: </h6>
            <h4 class="bio"> <%= current_user.bio %> </h4>
            <hr>
            <center>
              <p>
              <span><b> <%= @posts.count %> </b></span> posts <br>
              <span><b> 195 </b></span> followers <br>
              <span><b> 345 </b></span> following
              </p>
            <hr>
            </center>
            <h4 class="name"> <%= current_user.name %> </h4>
            <a class="website"> <%= current_user.email %> </a>
            <hr>
            <a class="edit-profile" href="<%= edit_user_path(@user) %>">
              <button type="button" class="btn btn-light"> Edit Profile </button>
            </a>
          </div>
        </div>
      </div>
      <hr>
      <div class="posts">
        <% @posts.each do |post| %>
        <section class="post">
          <div class="user">
            <div class="avatar">
              <img src="https://image.ibb.co/hPKoao/penny.jpg">
                <%# <%= current_user.avatar.url %>
            </div>
            <div class="username">
              <h4><%= post.user.username %></h4>
            </div>

          </div>
          <%= image_tag post.image, class: 'main-image' %>
          <div class="description">
            <% post.description.to_s.split(' ').each do |word| %>
              <% if word.start_with?('#') %>
                <%= link_to word, search_path(query: word) %>
              <%else %>
                <%= word %>
              <%end %>
            <% end %>
            <hr>
            Posted at: <%= post.created_at.strftime("%H:%M on %d-%m-%Y") %>
            <hr>
            <% pre_like = Like.find_by(user_id: current_user.id, post_id: post) %>
            <% if pre_like %>
              <%= link_to 'Unlike', post_like_path(post, pre_like), method: :delete %> (<b><%= post.likes.count %></b>)
            <% else %>
              <%= link_to 'Like', post_likes_path(post), method: :post %> (<b><%= post.likes.count %></b>)
            <% end %>
          </div>
          </section>
          <% end %>
        </div>
    <hr>
  </body>
</html>
