<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title> Imago </title>
  </head>
  <body>

    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="card testimonial-card">
          <div class="card-up info-color"></div>
          <div class="avatar mx-auto white">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <h2> <%= current_user.username %> </h2>
            <hr>
            <center>
              <p>
              <span><b> 12 </b></span> posts <br>
              <span><b> 195 </b></span> followers <br>
              <span><b> 345 </b></span> following
              </p>
            </center>
            <h4 class="name"> <%= current_user.name %> </h4>
            <a class="website"> <%= current_user.email %> </a>
            <hr>
            <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
              <button type="button" class="btn btn-light"> Edit Profile </button>
            </a>
          </div>
        </div>
      </div>
      <hr>
      <div class="user-images">
        <div class="wrapper">
          <img src="https://goosed.ie/wp-content/uploads/2018/11/Game-of-Thrones.png">
        </div>
        <div class="wrapper">
          <img src="https://www.telegraph.co.uk/content/dam/tv/2016/06/29/tyrion-peter-dinklage-large_trans_NvBQzQNjv4Bq2oUEflmHZZHjcYuvN_Gr-bVmXC2g6irFbtWDjolSHWg.jpg?imwidth=450">
        </div>
        <div class="wrapper">
          <img src="https://s.abcnews.com/images/Entertainment/game-thrones-white-walkers-london-preview-gty-jef-170712_16x9_992.jpg">
        </div>
      </div>
  </body>
</html>
