<!DOCTYPE html>
<html>
  <head>
    <title> Imago </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--Nav Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <font face="courier new"
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="/">

            <%= fa_stacked_icon "eye" %>
            Imago
          </a>
        </div>
        <div class="m-auto">
          <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
            <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: '#search' %>
          <% end %>
        </div>
        <div class="user-section">

          <% if user_signed_in? %>
          <a href="/">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
          <a href="<%= user_path(current_user) %>">
            <i class="fa fa-user"></i>
          </a>
          <a href="<%= destroy_user_session_path method: :delete %>">
            <i class="fa fa-sign-out"></i>
          </a>
          <% else %>
          <a href="<%= new_user_session_path %>">
            <i class="fa fa-sign-in"></i>
          </a>
          <% end %>
        </div>
      </div>
      </font>
    </nav>
    <font face="courier new">
    <center>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </center>
    </font>

    <main class="container" style="min-height: 500px;">
      <font face="courier new">
      <center>
      <%= yield %>
      </center>
      </font>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <hr>
      <nav class="navbar d-flex">
        <font face="courier new">
        <ul>
          <a href="https://github.com/cesarecamurani">
            ABOUT CESARE
          </a>
        </ul>
        </font>
        <font face="courier new">
        <p> © 2019 Imago - Powered by Cesare on Rails </p>
        </font>
      </nav>
    </footer>
  </body>
</html>
