<!DOCTYPE html>
<html>
  <head>
    <title> Imago </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--Nav Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <font face="courier new"
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="/">
            <%= fa_stacked_icon "camera-retro", base: "square-o" %>
            Imago
          </a>
        </div>
        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>
        <div class="user-section">
          <a><i class="fa fa-heart"></i></a>
          <% if user_signed_in? %>
          <a href="/">
            <i class="fa fa-home" aria-hidden="true"></i>
          </a>
          <a href="<%= user_path(current_user) %>">
            <i class="fa fa-user"></i>
          </a>
          <a href="<%= destroy_user_session_path method: :delete %>">
            <i class="fa fa-sign-out"></i>
          </a>
          <% else %>
          <a href="<%= new_user_session_path %>">
            <i class="fa fa-sign-in"></i>
          </a>
          <% end %>
        </div>
      </div>
      </font>
    </nav>
    <font face="courier new">
    <center>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </center>
    </font>

    <main class="container" style="min-height: 500px;">
      <font face="courier new">
      <center>
      <%= yield %>
      </center>
      </font>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <font face="courier new">
        <ul>
          <li>ABOUT US</li>
          <li>PRIVACY</li>
          <li>TERMS</li>

          <li>PROFILES</li>
          <li>HASHTAGS</li>

        </ul>
        </font>
        <font face="courier new">
        <p> © 2019 Imago - Powered by Cesare on Rails </p>
        </font>
      </nav>
    </footer>
  </body>
</html>
